.card {
  min-height: 200px;
  max-width: 400px;
  overflow: hidden;
  margin: 20px;
}
.card-img {
  object-position: center;
}
.inner-contain {
  padding: 10px;
}
.description {
  overflow: hidden;
  transition: 0.5s;
  max-height: 100px;
}
.myRow {
  margin-top: 30px;
}
.btni {
  color: white;
  background-color: #440b1c;
  padding: 7px;
}
