.card {
  position: relative;
  min-height: 200px;
  max-width: 300px;
  overflow: hidden;
  margin: 20px;
  border-bottom-left-radius: 25px;
}
.inner-container {
  padding: 10px;
}
.description {
  text-overflow: ellipsis;
  min-height: 100px;
}
